body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(59, 139, 205);
}

.bottomLine{
    border-bottom: 1px solid white;
    width: 75%;
    margin: auto;
    margin-bottom: 30px;
}

select{
  width: 25%;
  display: inline-block;
}

td{
  border: 1px solid white;
}

th{
  text-align: center;
}

h1{
  color: white;
  text-align: center;
  font-style: italic;
}

tr:nth-child(odd){
  background-color: rgb(202, 211, 217);

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
